.content-container {
  min-height: 92vh;
  max-height: 95vh;
  margin: 0 auto;
  //grid setup
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 2fr .75fr;
  grid-template-areas:
    "result result result result"
    "dice dice dice dice"
    "modifier modifier modifier modifier";
  justify-items: center;
}
