.content-container {
  color: $deep-red;
  height: 95vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .5fr 2fr 1fr;
  grid-template-areas:
    "result result result result"
    "dice dice dice dice"
    "modifier modifier selection selection";
  grid-row-gap: $XS-size;
  justify-items: center;
}
