.header {
  align-items: center;
  box-shadow: 0 4px 6px 0 $shadow;
  color: $deep-red;
  display: flex;
  height: 5vh;
  justify-content: center;
  letter-spacing: $XS-size;
  margin: .25rem;
  padding: 5vmin 1rem;
  h1 {
    font-size: 8vmin;
    margin: $S-size;
  }
}
