.mod-container {
  align-items: center;
  align-self: center;
  border-radius: $S-size;
  box-shadow: 0 4px 6px 0 $shadow;
  display: flex;
  flex-direction: row;
  grid-area: modifier;
  height: 6rem;
  width: 80%;
}
.mod-container__title {
  margin: 0 auto;
}

// reset select
.mod-container__select select {
  appearance: none;
  background: none;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

// custom select
.mod-container__select {
  background-color: rgba($off-black, .8);
  border: 3px solid $off-black;
  border-radius: $S-size;
  color: $off-white;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 8rem;
  z-index: 1;
}
