.roll-result {
  grid-area: result;
  width: 80%;
}

.roll-result__show {
  border: 3px solid $off-black;
  border-radius: $S-size;
  box-shadow: 0 4px 6px 0 $shadow;
  justify-content: center;
  text-align: center;
  #roll {
    font-size: 8rem;
    margin: 0 auto;
    text-shadow: 3px 4px 2px #27242480;
  }
  #calculation {
    color: $off-black;
    font-size: $L-size;
    margin: 0 auto;
  }
}
