* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  min-height: 100vh;
  // fix overflow issue in FF
  overflow: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/images/DnD_PHB_Art(mobile).svg');
  background-size: cover;
  color: $off-white;
  font-family: 'Marck Script', Arial, Helvetica, sans-serif;
  font-size: $L-size;
  margin: 0;
  min-height: 100vh;
  @media (min-width: $desktop-breakpoint){
    background-image: url('/images/DnD_PHB_Art.svg');
  }
}

button {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.num {
  font-family: Kalam, Arial, Helvetica, sans-serif;
}
