* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}
body {
  background: url('/images/grunge/colorful-grunge-texture-15.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $M-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
