// spacing
$XS-size: 1rem;
$S-size: 1.2rem;
$M-size: 1.6rem;
$L-size: 3.2rem;
$XL-size: 4.8rem;
$desktop-breakpoint: 45rem;

// colors
$off-black: #242527;
$off-white: #fcfafa;
$deep-red: #660308;
$shadow: hsla(0, 0%, 0%, 0.3);
