// spacing
$XXS-size: .5rem;
$XS-size: 1rem;
$S-size: 1.2rem;
$M-size: 1.6rem;
$L-size: 3.2rem;
$XL-size: 4.8rem;
$desktop-breakpoint: 45rem;

// colors
$off-black: #131114;
$off-white: #fcfafa;
$trl-ash: #654E48;
$trl-blue: #0f3145a1;
$deep-blue: #0a3144;
$deeper-blue: #031a27;
$shadow: hsla(0, 0%, 0%, 0.3);
